@model IEnumerable<Post>

@{
    ViewBag.Title = "Blogger";
    ViewBag.Description = "This Blog is made by Anik!!";
    ViewBag.Keywords = "blog programming travel photography";
}

<img src="~/content/static/blue.jpg" width="500"/>
<h3>Blogs to read</h3>
<div>
    <ul class="post-list">
        @foreach(var post in Model)
        {
            <li class="posts-link">
                <a asp-controller="Home" asp-action="Post" asp-route-id="@post.Id">
                    @post.Title
                </a>
            </li>
        }
    </ul>
</div>