@model IEnumerable<Post>

@{

}

<h1>Hi Admin!</h1>
<p>Blogs</p>
<div>
    <ul class="post-list">
        @foreach(var post in Model)
        {
            <li class="posts-link">
                <a asp-controller="Home" asp-action="Post" asp-route-id="@post.Id">
                    @post.Title
                </a>
                -
                <a asp-controller="Panel" asp-action="Edit" asp-route-id="@post.Id">
                    Edit
                </a>
                -
                <a asp-controller="Panel" asp-action="Remove" asp-route-id="@post.Id">
                    Remove
                </a>
            </li>
        }
    </ul>
</div>